@using PlanesTour.Helpers
@model IEnumerable<PlanesTour.Core.Domain.Hotel>
@{
    ViewBag.Title = "Detail";
}


<!-- Content -->
<main class="page-content">
    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Lista de hoteles de <span class="text-primary">@ViewBag.LocationName</span></h2>
                        <hr class="small">
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var hotel in Model)
                {
                    <div class="col-md-6">
                        <figure class="card-simple card-location-detail">
                            <a href="/hotels/@UrlHelperExtetions.SeoUrl(hotel.Id, hotel.Name)">
                                <div class="card-img" style="background-image: url('@hotel.Photos.FirstOrDefault().Path')">
                                    <div class="card-img-obfuscar">
                                        <span class="fa fa-arrow-circle-right fa-3x"></span>
                                    </div>
                                </div>
                            </a>
                            <figcaption>
                                <h4 class="card-title">@hotel.Name</h4>
                                <p class="text-gray">@hotel.Description</p>
                                <div class="star-rater">
                                    <span class="fa fa-star rating"></span>
                                    <span class="fa fa-star rating"></span>
                                    <span class="fa fa-star rating"></span>
                                    <span class="fa fa-star rating"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </figcaption>
                        </figure>

                    </div>
                }
            </div>
        </div>
    </section>
</main>
