@model IEnumerable<PlanesTour.Core.Domain.Location>

<main class="page-content">
    <!-- Location List -->
    <section>
        <div class="container">
            <div class="row text-center">
                @foreach (var location in Model)
                {
                <div class="col-md-4">
                    <figure class="card-simple card-location">
                        <h3 class="card-title">@location.Name</h3>
                        <a href="/locations/@location.Id">
                            <div class="card-img" style="background-image: url('@location.Photos.FirstOrDefault().Path')">
                                <div class="card-img-obfuscar">
                                    <span class="fa fa-arrow-circle-right fa-3x"></span>
                                </div>
                            </div>
                        </a>
                    </figure>
                </div>
                }
            </div>
        </div>
    </section>
</main>
